[user]
	email = hsteinshiromoto@gmail.com
	name = Humberto STEIN SHIROMOTO
	username = hsteinshiromoto
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
[column]
	ui = auto
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[color]
	ui = auto
[alias]
	gs='git status'
	gd='git diff --name-only --relative --diff-filter=d | xargs batcat --diff'
	gc="git commit -m '.'"
	gP='git push'
	gp='git pull'
	gfb='git flow bugfix start'
	gfh='git flow hotfix start'
	gfr='git flow release start'
	gff='git flow feature start'
