[user]
	email = h.stein.shiromoto@gmail.com
	name = Humberto STEIN SHIROMOTO
	username = hsteinshiromoto
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
[column]
	ui = auto
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[color]
	ui = auto
